.section:not(#footer-dark) {
  a, a:hover {
    text-decoration: underline;
  }
}

// Override the theme's background image
#footer-dark {
  background: #bcbcbc;
}

.footer-right {
  text-align: right;
}

.section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.session {
  &__headshot {
    width: 100%;
  }

  &__anchor {
    position: relative;
  }

  &__target {
    position: absolute;
    // Terrible hack: the size of the fixed menu.
    top: -110px;
  }

  &__title {
    &:hover > h2:after {
      content: "§";
      text-decoration: none;
      margin-left: 0.25em;
      display: inline-block;
    }
  }
}

.sponsor__logo {
    max-width: 600px;
    height: auto;
}

.schedule {
    margin: 2em 0;

    table {
        table-layout: fixed;
    }

    table, td, th {
        border: 1px solid #eee;
    }

    td, th {
        padding: 10px;
    }
}