

.pb-200{
	padding-bottom:230px;
}

.counter-block{
	margin-top:80px;
	border-radius: 10px;
	box-shadow: rgba(16, 66, 97, 0.07) 0px 8px 20px 0px;

	p{
		margin-top:20px;
		margin-bottom: 0px;
	}
	
	h4{
		color: #fff;
	}
}


.event-img {
	.img-style{
		position:relative;
		width:100%;
		z-index:1;
		
	}
	&:before{
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    background: url("../images/about/pattern.png") no-repeat;
	    width: 148px;
	    height: 178px;
	    content: "";
	    margin-top: -30px;
	    margin-left: -11px;
	}
	&:after{
	    position: absolute;
	    right: 0px;
	    bottom: 0px;
	    background: url("../images/about/pattern.png") no-repeat;
	    width: 148px;
	    height: 178px;
	    content: "";
	    margin-bottom: -30px;
	    margin-right: -11px;

	}

}


.event-text{
	padding-left:30px;

	h6{
		margin-bottom: 20px;
	}
	a.btn{
		margin-top: 15px;
	}
}



.about-block-box{
	border: 1px solid #eee;
}

.about-block2{
	background: $white;
	position: relative;
	width: 90%;
	margin: -60px auto 0px;
	padding: 30px 20px 30px 20px;
	text-align: center;
	border-radius: 5px;

	h4{
		margin-bottom:15px;
		font-weight:600;
		margin-top:30px;
	}

	i{
		position: absolute;
		top: 0px;
		content:"";
		border-radius: 100%;
		margin-top: -30px;
		left: 50%;
		margin-left: -31px;
		width: 70px;
		height: 70px;
		background: $white;
		font-size: 30px;
		box-shadow: rgba(22, 53, 76, 0.08) 0px 7px 25px 0px;
		padding-top: 10px;
		color: $primary-color;
	}
}



#about-2{
	padding-top: 180px;
	padding-bottom: 0px;

	.about-block-box{
		position: relative;

		&:before{
			background:url("/images/about/pattern.png");
			position: absolute;
			content: "";
			top: 0px;
			right: -22px;
			width: 58%;
			margin-top: -16px;
			height: 50%;
		}

		img{
			border-radius: 5px 5px 0px 0px;
		}

	}
}