#section-page,#section-page2{
    padding:120px 0px;
    margin-top: 150px;
    background:$black;
    background: url("../images/bg/page-header.jpg");
    background-size: cover;

    .page-heading{
        h2{
            color: $white;
        }

        ul li a{
            color: $white;
        }
    }
}

#section-page2{
    margin-top: 0px;
    padding-top: 150px;
}

.contact-form{
    .form-group{
        margin-top: 20px;
    }
}

#map {
    position: relative;
    width: 100%;
    height: 450px;
}

#success, #error {
    display: none;
}