.countdown{
    padding: 30px 20px;
    border-radius: 5px;
    margin-top: -80px;
    position: absolute;
    overflow:hidden;
    width: 100%;

    &:before {
		position: absolute;
		left: 0;
		top: 0;
        background: url("../images/4.png");
        background-size: cover;
		width: 100%;
		height: 100%;
		content: '';
	}
    .counter-item{
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.05);

        span{
            font-size: 70px;
            font-family: $lg-font;
            color: $white;
            line-height: 70px;
            font-weight: 700;
        }

        .count{
            text-transform: uppercase;
            letter-spacing:1px;
        }
    }
}


.counter-block{
    // span{
    //     color: $secondary-color;
    // }
    i{
        font-size: 40px;
        display: block;
        margin-bottom: 15px;
        color: $primary-trans;
    }
}