
#section-feature{
	background: rgba(255, 0, 122,.04);

	h2{
		span{
			display: block;
		}
	}
}
.feature-wrap{
	position:relative;
}

.feature-box{
	i{
		font-size:62px;
		padding-top: 4px;
		color:$white;
		background: $primary-color;
		width:120px;
		height:120px;
		text-align: center;
		display:inline-block;
		border-radius:100%;

	}

	h4{
		line-height:32px;
		margin-top:25px;
		font-weight: 500;
	}
}

