
a.back-top{
	background:$primary-color;
	color:$white;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 5px;
	padding-top:10px;
	i{
		color:$white;
	}
}

.widget{
	h4{
		margin-bottom:20px;
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 600;
		font-family: $lg-font;
	}

	ul {
		margin-bottom:0px;
		li{
			padding: 6px 0px;
			text-transform: capitalize;
			

			i{
				width: 25px;
				color: $primary-color;
			}
		}
	}

	ul.footer-social{
		li{
			width: 50%;
			float: left;
		}
		i{
			color: $black-light;
		}
	}
	
}

.footer-sub{
	input{
		margin-top:30px;
	}
	a.btn{
		margin-top:20px;
	}
}

#footer-2{
	position: relative;
	&:before{
		position: absolute;
		content:"";
		right: 0px;
		top: 0px;
		background: url("../images/wrapper-img.png") no-repeat;
		height: 100%;
		width: 20%;
		// opacity: .2;
	}
}


#section-footer{
	background: url("../images/bg/footer-bg.jpg") no-repeat;
	background-size: cover;
	padding: 100px 0px 80px;

	.footer-socials{
		margin-bottom: 25px;
		li a{
			color: $white;
			font-size: 32px;
			padding: 0px 8px;
		}
	}
	.footer-menu{
		li a{
			color: $white;
			font-size: 20px;
			text-transform: capitalize;
			padding: 0px 10px;
		}
	}

	p{
		color: $white;
		border-top: 1px solid rgba(255,255,255,.03);
		padding-top: 30px;
		margin-top: 40px;
	}
}

.gallery-block{
	img{
		width: 100%;
		height: 100%;
	}
}


#footer-dark{
	background: #121212;
	font-size: 15px;
	background: url("../images/bg/footer-bg.jpg") no-repeat;
	background-size: cover;
	padding-bottom: 40px;

	.footer-widget {
	    h3{
	    	font-size: 22px;
	    	color: $white;
	    	font-weight: 400;
	    }

	    p{
	    	color: rgb(128, 128, 128);
	    }
	}

	.footer-contact-widget .contact-email {
	  color: #ff7a5c;
	}

	.social a{
	  font-size: 30px;
	  color: $white;
	  margin-right: 10px;
	}

	a{
		color: $white;
	}
}
.footer-newsletter {
	position: relative;

	.form-group .button {
	    position: absolute;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	    right: 10px;
	    border: none !important;
	    background: none;
	}
}

.border-top{
	border-top:1px solid rgba(255,255,255,0.04)!important;
}