
.core-schedule{
	padding-bottom:35px;
	margin-bottom:30px;
	padding: 35px 30px;
	border-radius:5px;
	transition: all .3s ease;
	position: relative;
	overflow: hidden;
	background: #fff;
	border: 1px solid $border-color;

	div{
		padding-left:20px;
	}
	
	h4{
		margin-bottom:10px;
	}

	h6{
		margin-left: 38px;

		span{
			font-size:14px;
		}
	}

	&:before{
		position: absolute;
		content: "";
		width: 2px;
		height: 58%;
		top: 58px;
		left: 58px;
		background: $secondary-color;
		opacity: .4;
	}

	&:hover{
		box-shadow:rgba(22, 53, 76, 0.08) 0px 7px 25px 0px;
		border: 1px solid $primary-trans;
	}

}

