#section-speaker{
	padding-top: 90px;

	.speaker-block{
		position: relative;
		overflow: hidden;
			
		img{
			transition:all .5s ease 0s;
		}
		.speaker-info{
			position: absolute;
			bottom: 0px;
			padding: 20px;
			left: 40px;
			opacity: 0;
			visibility:hidden;
			transition:all .5s ease 0s;
			z-index: 2;
			h4{
				margin-bottom: 0px;
				color: $white;
			}
			p{
				color: $border-color;
			}
		}
		.speaker-social{
			position: absolute;
			top: 30px;
			right: 33px;
			opacity: 0;
			visibility:hidden;
			transition:all .5s ease 0s;
			z-index: 2;

			a{
				color: $white;
			}
		}

		&:before{
			position: absolute;
			content:"";
			left: 0px;
			top: 0px;
			width:100%;
			height:100%;
			background-image: linear-gradient(144deg, #321575 0%, #8d0b93 51%, #ff0066 100%, #ff057c 100%);
			opacity: 0;
			transition:all .5s ease 0s;
			z-index: 1;
		}

		
		&:hover .speaker-info{
			opacity: 1;
			visibility: visible;
		}

		&:hover .speaker-social{
			opacity: 1;
			visibility: visible;
		}

		&:hover img{
			-webkit-transform: scale(1.1);
			   -moz-transform: scale(1.1);
			    -ms-transform: scale(1.1);
			     -o-transform: scale(1.1);
			        transform: scale(1.1);
		}

		&:hover:before{
			opacity: .8;
		}

	}
}

