


#sub{
	position: absolute;
	margin-top:-130px;
	padding-top:-130px;
	border-radius:5px;
	width: 100%;
	
	.form-group{
		position:relative;
	}
	.form-control{
		border: 2px solid $border-color!important;
		border-radius:5px;
		border:0px;
		height:60px;
		padding-left:30px;
	}

	i{
		position: absolute;
		z-index: 1;
		font-size: 20px;
		left: 15px;
		top: 20px;
		color:#232323;
	}
	

}


.sub-bg{
	position: relative;
	background: #fff;
	box-shadow:rgba(22, 53, 76, 0.08) 0px 7px 25px 0px;
	padding: 70px 0px;
	border-radius: 5px;
	z-index: 1;

	&:before{
		position: absolute;
		content:"";
		background:url("../images/4.png");
		background-size:cover;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
	}
}