{% macro text_section(title, content) %}
<section class="section">
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8 text-center">
        <h2 class="mb-3">{{ title }}</h2>
      </div>
      <div class="col-md-8">
        <div class="text-left">
          {{ content | safe | markdown }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endmacro %}

{% macro sessions(sessions) %}
  {% for id, session in sessions %}
    {{ self::single_session(id=id, session=session) }}
  {% endfor %}
{% endmacro %}

{% macro single_session(id, session) %}
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9">
      <div class="row">
        <div class="col session__anchor">
          <a name="{{ id }}" class="session__target">&nbsp;</a>
          <a href="#{{ id }}" class="session__title">
            <h2>{{ session.name | safe }}</h2>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-left">
            {{ session.abstract | safe }}
          </div>
        </div>
      </div>
      <div class="row mt-3">
        {% for speaker in session.speakers %}
          {{ self::single_speaker(speaker=speaker) }}
        {% endfor %}
      </div>
    </div>
      </div>
    </div>
  </section>
{% endmacro %}

{% macro single_speaker(speaker) %}
  <div class="col-md-6">
    {% if speaker.image %}
    <div class="row">
      <div class="col-md-6">
        <img class="session__headshot" src="{{ speaker.image }}" alt="{{ speaker.name }}" />
      </div>
    </div>
    {% endif %}
    <div class="row mt-3">
      <div class="col">
        <h4>{{ speaker.name }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if speaker.bio %}
        <div class="row">
          <div class="col">
            {{ speaker.bio | safe }}
          </div>
        </div>
        {% endif %}
        <div class="row mt-2">
          {% if speaker.twitter %}
            <div class="col">
              <a href="https://twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a>
            </div>
          {% endif %}
          {% if speaker.website %}
            <div class="col">
              <a href="{{ speaker.website }}">{{ speaker.website }}</a>
            </div>
          {% endif %}
          {% if speaker.github %}
            <div class="col">
              <a href="{{ speaker.github }}">{{ speaker.github }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
