<div class="row justify-content-center mt-5">
  <div class="col-md-12 text-center">
    <h2 class="mb-3">{{ level }}</h2>
  </div>
  <div class="col-md-12">
    <div class="text-center">
      {{ body | safe | markdown  }}
    </div>
  </div>
</div>
