<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="">

  <title>Rust Belt Rust 2019</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!--
  <link rel="stylesheet" href="plugins/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="plugins/animate-css/animate.css">
  -->
  <link rel="stylesheet" href="plugins/font-awesome/all.css">
  <!--
  <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
  -->

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/theme/style.css">
  <link rel="stylesheet" href="/application.css">
</head>
