<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">

    <title>
      {% if page.title is defined %}
      {{ page.title }} |
      {% endif %}
      Rust Belt Rust 2019
    </title>

    <!-- Mobile Specific Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <!--
    <link rel="stylesheet" href="plugins/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="plugins/animate-css/animate.css">
    -->
    <link rel="stylesheet" href="/plugins/font-awesome/all.css">
    <!--
    <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
    -->

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/theme/style.css">
    <link rel="stylesheet" href="/application.css">
  </head>

  <body id="body">
    <div id="tb-preloader">
      <div class="tb-preloader-wave"></div>
    </div>

    <header class="header-bar">
      <nav class="navbar navbar-expand-lg navbar-light transparent-white fixed-top main-nav2">
        <div class="container">
          <!-- Logo -->
          <a class="navbar-brand" href="/"><img src="/images/logo-w.png" alt="Rust Belt Rust" class="img-fluid"></a>

          <!-- For small screens -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!--  Primary navigation  -->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/conduct">Code of Conduct</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sessions">Sessions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sponsors">Sponsors</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/previous" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Previous
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <a class="dropdown-item" href="/previous#2018">2018</a>
                  <a class="dropdown-item" href="/previous#2017">2017</a>
                  <a class="dropdown-item" href="/previous#2016">2016</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {% block content %}{% endblock content %}

    <footer class="section " id="footer-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-widget">
              <h3>About Us</h3>
              <p>
                Rust Belt Rust is where Rust developers and
                enthusiasts from around the world will gather to
                discuss production Rust usage, best practices, and
                what’s next for Rust.
              </p>

              <div class="footer-widget">
                <ul class="list-unstyled social list-inline">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/rustbeltrust">
                      <span class="fab fa-twitter"></span>
                      @rustbeltrust
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-widget footer-right">
              <h3>Dates</h3>
              <p>October 18 & 19, 2019</p>
              <h3>Location</h3>
              <p>
                The Engineers Club<br />
                Dayton, Ohio
              </p>
            </div>
          </div>

            <!--
          <div class="col-md-4">
            <div class="footer-widget">
              <h3>Event Contact</h3>
              <p>Call Now : +23-356-45478</p>
            </div>
            <div class="footer-widget">
              <h3>Newsletter</h3>
              <form action="#" class="footer-newsletter">
                <div class="form-group">
                  <button class="button"><span class="fa fa-envelope"></span></button>
                  <input type="email" class="form-control" placeholder="Enter Email">
                </div>
              </form>
            </div>
          </div>
            -->
        </div>
      </div>
    </footer>

    <!-- Essential Scripts -->
    <script src="/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3 -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Form Validator
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>

    <script src="plugins/easing/waypoint.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.js"></script>

    <!-- Google Map
    <script src="plugins/google-map/gmap3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwIQh7LGryQdDDi-A603lR8NqiF3R_ycA"></script>
    -->

    <script src="/js/script.js"></script>
  </body>
</html>
