{% extends "_scaffold.html" %}

{% block content %}
  <section id="banner-2">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <div class="banner-content">
            <h6 class="text-white subtitle text-capitalize mb-0">A Rust conference for developers of any skill level</h6>
            <h1 class="lg-title mt-4 mb-5">
              October 18 & 19, 2019
              <br />
              The Engineers Club
              <br />
              Dayton, Ohio
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
          <h2 class="mb-3">Sponsors</h2>
        </div>
        <div class="col-md-8">
          <div class="text-left">
            We're grateful to <a href="/sponsors">our sponsors</a> who help make Rust Belt
            Rust possible!
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
          <h2 class="mb-3">Future announcments</h2>
        </div>
        <div class="col-md-8">
          <div class="text-left">
            We have
            an <a href="https://us4.list-manage.com/subscribe?u=b0dd9ed5f4fad13c850ed6dd3&id=1b7956f3ad">announcements
            mailing list</a> you are encouraged to join. This list is
            used for:

            <ul>
              <li>When a date and location for an upcoming Rust Belt Rust Conference has been finalized</li>
              <li>When the CFP for submitting talks to an upcoming Rust Belt Rust Conference is open</li>
              <li>When tickets are on sale for an upcoming Rust Belt Rust Conference</li>
              <li>When a survey is open for improving the Rust Belt Rust Conference</li>
            </ul>

            You can
            also <a href="https://twitter.com/rustbeltrust">follow us
            on Twitter</a> or join
            our <a href="https://rust-belt-rust-slack.herokuapp.com/">Slack
            instance</a>!
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
          <h2 class="mb-3">Videos</h2>
        </div>
        <div class="col-md-8">
          <div class="text-left">
            Videos will be uploaded as soon as our volunteers have
            time to process them. Be careful
            about <a href="https://twitter.com/Carols10cents/status/1185585432056270848">asking
            when they will be available</a>!
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
