{% extends "_scaffold.html" %}

{% block content %}

  <section id="section-page2" class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8  text-center">
          <div class="page-heading">
            <h2 class="display-4">{{ page.title }}</h2>

            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a href="/">Home </a></li>
              <li class="list-inline-item"><a>/</a></li>
              <li class="list-inline-item"><a href="#" class="text-muted">{{ page.title }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ page.content | safe }}

{% endblock content %}
